---
import { WebsiteConfig } from "../../config";
import imgLogo from "../../assets/images/logo.png";
import { Image } from "astro:assets";
const { DEVFEST_NAME } = WebsiteConfig;

interface Props {
  transparentMode?: boolean;
  currentLocale: string;
}

const { transparentMode = false, currentLocale } = Astro.props;

const localeRouting = {
  en: "it",
  it: "en",
};

const homeUrl = currentLocale == 'en' ? '/en' : '/';

const links = [
  { link: homeUrl, name: "Home" },
  { link: "#speaker", name: "Call For Speaker" },
  { link: "#sponsor", name: "Sponsorship" },
  { link: "#partner", name: "Partnership" },
  ...Object.keys(localeRouting).filter((l) => l == currentLocale ) .map((l) => ({
    link: `/${localeRouting[l]}`,
    name: localeRouting[l].toUpperCase(),
  })),
];

const dateLocalized = {
  en: "October 26th 2024, Bari",
  it: "26 Ottobre 2024, Bari",
};
---
<header>
  <nav
    class={`${
      transparentMode ? "transparent-mode" : ""
    } flex flex-row justify-between items-center p-4 top-0 left-0 right-0 fixed z-30 bg-white shadow-md ease-in duration-150`}
  >
    <div class="flex justify-between max-w-6xl lg:w-4/5 w-full m-auto">
      <div class="flex gap-4">
        <div class="flex items-center gap-6 md:hidden">
          <div
            class="menu-icon navbar-toggler"
            role="button"
            data-bs-toggle="collapse"
            data-bs-target="#main-menu"
            aria-controls="main-menu"
            aria-expanded="true"
            aria-label="Toggle navigation"
          >
            <input class="menu-icon__cheeckbox" type="checkbox" />
            <div>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <a href={homeUrl}>
          <Image
            src={imgLogo}
            alt={DEVFEST_NAME}
            class="nav-logo max-h-12 w-auto max-w-full"
          />
        </a>
      </div>

      <div
        class="nav-links top-[-32rem] md:static md:bg-transparent bg-white md:min-h-fit md:w-auto md:flex hidden items-center md:p-0 p-5"
      >
        <div
          id="navMenuLinks"
          class="flex md:flex-row flex-col md:items-center lg:gap-5 gap-6 items-stretch"
        >
          {
            links.map((l) => (
              <a class="hover:text-black" href={l.link}>
                {l.name}
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div
      id="navMobileMenu"
      class="fixed ease-in duration-100 top-0 left-0 right-0 bottom-0 bg-black/0 pointer-events-none"
    >
      <div
        class="absolute ease-in duration-100 top-0 bottom-0 left-[-16rem] w-64 bg-white flex flex-col justify-start items-stretch"
      >
        <a href={homeUrl} class="flex justify-center px-2 pt-3">
          <Image src={imgLogo} alt={DEVFEST_NAME} class="max-h-14 w-auto h-full" />
        </a>

        <div class="my-4 pl-3 flex flex-col">
          <p class="text-2xl font-medium">{
            dateLocalized[currentLocale]
            }</p>
        </div>

        <div class="flex flex-col items-stretch">
          {
            links.map((l) => (
              <a class="p-3" href={l.link}>
                {l.name}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </nav>
</header>
